.out {
  opacity: 0;
}

#top-text{ 
    font-size: 18px;
}

#countdown{ 
    font-size: 40px;
    font-family: "Bangers", serif;
    font-weight: 400;
    font-style: bold;
}

#top-text2{ 
    font-size: 40px; 
    font-family: "Fascinate", system-ui;
    font-weight: 400;   
    font-style: normal;
    color: purple;
}

#bottom-text{ 
    font-size: 18px;
}
#bottom-text2{ 
    font-size: 18px;
}

.btn {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}